body {
text-align: center;
font: 76% Arial,Verdana,sans-serif;
line-height: 1;
padding-bottom: 20px;
background: #ebebeb url (images/photos/body-bg.png) repeat-x;
border-top: 5px solid #67920D;
}
#wrapper {
width: 960px;
margin: 0 auto;
padding: 0 10px;
text-align: left;
background: url(images/photos/wrapper-bg.png) 0 195px no-repeat;
}
#header {
height: 130px;
position: relative;
padding-left: 10px;
background: #485558 url(/images/photos/header-bg.png);
border-bottom: 3px solid #67920D;
}
p.tagline {
float: left;
clear: both;
margin-left: 1px;
font-size: .9em;
font-weight: bold;
color: #fff;
text-transform: uppercase;
}
a {
text-decoration:none;
}

.navi-description {
font-size: .7em;
color: #eee;
display: block;
text-transform: none;
padding-top: 1px;
}
#searchbox {
  position: absolute;
  right: 0;
  top: 5px;
  width: 400px;
}
#searchbox form#search input#searchSubmit {
  font-size: .9em;
  cursor: pointer;
  padding: 1px 6px;
  border: none;
  color: #eee;
  background: #1F4259;
  float: right;
  margin-left: 2px;
}
#searchbox form#search input {
  font-size: .9em;
  padding: 1px 2px;
  color: #000;
  background: #efefef;
  border: 1px solid #333;
  float: right;
}
#home #contentArea {
  width: 920px;
  padding: 19px;
}
#contentArea {
  clear: both;
  float: left;
  padding: 20px 30px 40px 20px;
  width: 908px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff url(/images/photos/contentArea-bg.png) 50% 1px no-repeat;
}
#intro {
  clear:both;
}
div#slider {
  width: 920px;
  height: 320px;
  overflow: hidden;
.ul {
  width: 1840px;
  margin-left: 0px;
}
#intro #slider li {
  width: 920px;
  height: 320px;
  overflow: hidden;
  text-align: center;
}
#footerContent
#footerColumn
