<div id="myElement"></div>
<script type="text/javascript" src="/js/javascript-flickr-badge.min.js"></script>
<script type="text/javascript">
  jsFlickrBadge(document.getElementById('myElement'), {
      // your Flickr ID (find it here)
      flickrId: '130116088@N05',
      // feed type. user, group, contacts, etc.
      feed: 'user',
      // optional comma-delimited tags to filter by, only used with 'user' feed
      tags: '{{page.photo_tags}}',
      // number of rows to display
      rows: 1,
      // number of columns to display
      columns: 6,
      // size of each thumbnail (any bigger than 75 will cause pixelization)
      size: 75,
      // animation to use.
      // one of: vscroll, random, vscroll, shuffle, zoom, scroll, flipX, flipY
      animation: 'vscroll',
      // seconds each animation takes
      animationSpeed: 1,
      // seconds between each animation
      animationPause: 2
    });
</script> 
