<div class="sidebar-module">
	<h4><a href="/pages/chiangmai.html">Чиангмай</a></h4>
	<ol class="list-unstyled">
		<li><a href="/pages/doisuthep.html">Дои Сутхеп</a></li>
		<li><a href="/pages/luang.html">Ват Чеди Луанг</a></li>
		<li><a href="/pages/phrasingh.html">Ват Пхра Синг</a></li>
		<li><a href="/pages/chiangman.html">Ват Чианг Ман</a></li>
		<li><a href="/pages/lokmali.html">Ват Лок Моле</a></li>
		<li><a href="/pages/royalpark.html">Роял Флора Радчапрык</a></li>
		<li><a href="/pages/maerim.html">МаеРим</a></li>
		<li><a href="/pages/bosang.html">Бо Санг</a></li>
		<li><a href="/pages/zoo.html">Зоопарк</a></li>
	</ol>
</div>

<div class="sidebar-module">
	<h4><a href="/pages/vacation_tropics.html">Отдых в тропиках</a></h4>
	<ol class="list-unstyled">
		<li><a href="/pages/krabi.html">Краби</a></li>
		<li><a href="/pages/phi_phi.html">Острова Пи Пи</a></li>
	</ol>
</div>



<div class="sidebar-module">
	<h4>Информация о Таиланде</h4>
	<ol class="list-unstyled">
		<li><a href="/pages/celebreties.html">Календарь событий. Фестивали и праздники в Чиангмае</a></li>
		<li><a href="/pages/ramaIX.html">Интересные факты о Тайланде</a></li>
		<li><a href="/pages/thaikitchen.html">Особенности тайской кухни</a></li>
	</ol>
</div>

