<div class="sidebar-module">
	<h4><a href="/pages/chiangmai.html">Чиангмай</a></h4>
	<ol class="list-unstyled">
		<li><a href="doisuthep.html">Дои Сутхеп</a></li>
		<li><a href="luang.html">Ват Чеди Луанг</a></li>
		<li><a href="phrasingh.html">Ват Пхра Синг</a></li>
		<li><a href="chiangman.html">Ват Чианг Ман</a></li>
		<li><a href="lokmali.html">Ват Лок Моле</a></li>
		<li><a href="royalpark.html">Роял Флора Радчапрык</a></li>
		<li><a href="maerim.html">МаеРим</a></li>
		<li><a href="bosang.html">Бо Санг</a></li>
		<li><a href="zoo.html">Зоопарк</a></li>
	</ol>
</div>

<div class="sidebar-module">
	<h4><a href="/pages/vacation_tropics.html">Отдых в тропиках</a></h4>
	<ol class="list-unstyled">
		<li><a href="/pages/krabi.html">Краби</a></li>
		<li><a href="/pages/phi_phi.html">Острова Пи Пи</a></li>
	</ol>
</div>



<div class="sidebar-module">
	<h4>Информация о Таиланде</h4>
	<ol class="list-unstyled">
		<li><a href="celebrities.html">Календарь событий. Фестивали и праздники в Чиангмае</a></li>
		<li><a href="/pages/celebrities.html">Интересные факты о Тайланде</a></li>
		<li><a href="/pages/thaikitchen.html">Особенности тайской кухни</a></li>
	</ol>
</div>

